@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Condiment&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/*...............................................*/
/*                  Font Family Section          */
/*...............................................*/



.ceviche-one-regular {
  font-family: "Ceviche One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.condiment-regular {
  font-family: "Condiment", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*...............................................*/
/*                   Font Family                 */
/*...............................................*/




/*...............................................*/
/*                  Common Css          */
/*...............................................*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



:root {
  --white: #ffffff;
  --pink: #FF00EE;
  --black: #000000;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0374b6;
}

a:focus {
  box-shadow: none;
  outline: none;
}

ul,
ol {
  margin-bottom: 0;
  line-height: normal;
  padding: 0;
  list-style: none;
}


/*...............................................*/
/*                  Common Css          */
/*...............................................*/